@import url('https://fonts.googleapis.com/css?family=Playfair+Display:900');

svg {
  background: #ebe7e0;
}

text {
  fill: #35322a;
  -webkit-filter: url('#money');
          filter: url('#money');
  font-family: 'Playfair Display', 'Georgia', serif;
  font-size: 120px;
  font-weight: 900;
}

html {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ebe7e0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  min-width: 600px;
}
.head {
    text-align: center;
}
